# Please adjust the folder path according to your local machine
APPLICATION_ROOT_FOLDER=/opt/desarrollo/sources/git/jokoframework/joko_backend_starter_kit
# If you do not want to use your local Maven settings (or you do not have maven installed locally)
# then comment the line below + the line with MAVEN_SETTINGS_FOLDER in the docker-compose.yml file
MAVEN_SETTINGS_FOLDER=/home/afeltes/.m2
